/* Write your global styles here, in PostCSS syntax */
:root {
    /* only used for background color */
    --primary: #fffaf2;
    /* used for hint button, shuffle colors */
    --secondary: #ffe1b8;
    /* used for menus and inputs */
    --tertiary: white;
    /* used for all text */
    --text: #002147;
    --text-hover: #f5f2e4;
}